/* Specification */
body {
    font-family: 'Merriweather', serif;
}


/* Header */


.header__up{
    background-color: #000;
    height: 40px;
}
ul .header__nav{
    list-style-type: none;
}
li.header__nav{
    padding-right: 20px;
    padding-left: 20px;
    margin-top: 5px;
    border-right: 1px solid white;
}
.header__logo img {
    display: block;
    position: absolute;
    top: 0;
}
.header__nav a{
    color: white;
    font-family: 'Merriweather Sans', sans-serif;
    text-align: center;
    font-size: 14px;
}
.header__text{
    text-align: center;
    text-transform: uppercase;
    padding-top: 20px;
}
.header__prof{
    color: red;
}
.header__picture {
    background-image: url("../img/header.jpg");
    background-position: center center;
    background-repeat: no-repeat;
    height: 270px;
    position: relative;
}
.my_photo{
    display: block;
    position: absolute;
    top: -90px;
    left:150px;
}
.owner_data{
    margin-top: 20px;
}
.name {
    margin-bottom: 0;
}
.modalDialog{
    position: fixed;
    top:0;
    right: 0;
    left: 0;
    bottom: 0;
    background: rgba(0,0,0,0.8);
    z-index: 99999;
    -webkit-transition: opacity 400ms ease-in;
    -moz-transition: opacity 400ms ease-in;
    transition: opacity 400ms ease-in;
    display: none;
    pointer-events: none;
}
.modalDialog:target {
    display: block;
    pointer-events: auto;

}
.modalDialog > div {
    width: 400px;
    position: relative;
    margin: 10% auto;
    padding: 5px 20px 13px 20px;
    border-radius: 10px;
    background: #fff;
    background: -moz-linear-gradient(#fff, #999);
    background: -webkit-linear-gradient(#fff, #999);
    background: -o-linear-gradient(#fff, #999);
}
.close {
    background: #606061;
    color: #FFFFFF;
    line-height: 25px;
    position: absolute;
    right: -12px;
    text-align: center;
    top: -10px;
    width: 24px;
    text-decoration: none;
    font-weight: bold;
    -webkit-border-radius: 12px;
    -moz-border-radius: 12px;
     border-radius: 12px;
    -moz-box-shadow: 1px 1px 3px #000;
    -webkit-box-shadow: 1px 1px 3px #000;
     box-shadow: 1px 1px 3px #000;
}
.close:hover { background: #00d9ff; }


 /* section = 'skills" */

.skills{
    background-image: linear-gradient(to right, rgba(125, 140, 160, 0.1), rgba(125, 140, 160,.3));
}
.inter_skills{
    padding-top: 50px;
    padding-bottom: 50px;
}
.skills__list ul{
    list-style-type: circle;
}

.skills__title{
    padding-left: 120px;
    font-weight: 700;
    padding-top: 80px;
}
ul.skills__list{
    padding: 0;
}
.interests li, .skills li{
    font-size: 24px;

}

/*Projects */

.projects__title{
    text-align: center;
    padding: 75px 0;
}
.item {
    width: 350px;
    height: 250px;
    background-color: rgba(226, 142, 28, 0.5);
}
.item h4{
    color: snow;
}
.carousel-wrapper{
    margin-bottom: 100px;
}
.owl-theme .owl-nav.disabled+.owl-dots{
    margin-top: 40px;
}
.carousel-wrapper .item h4{
    text-align: center;
    padding-top: 100px;
}

/* Footer */
.footer{
    background-image: url("../img/footer.png");
    opacity: 0.7;
    background-position: center center;
    background-repeat: no-repeat;
    height: 300px;
    color:snow;
}

.contacts__title{
    text-align: center;
    padding-top: 20px;
}
.contacts__icon span{
    font-size: 1.5em;
    margin-right: 15px;
}
.contacts__text p{
    padding-top: 6px;
}
.contacts__social i{
    font-size: 45px;
}






