/* --- Specification ---*/

body {
    font-family: 'Merriweather', serif;
    background-color: rgba(162, 162, 162, 0.27);
}
 button, img{
     display: block;
 }

/* ---Header ----*/

.header__up{
    background-color: #000;
    height: 40px;
}
ul .header__nav{
    list-style-type: none;
}
li.header__nav{
    padding-right: 20px;
    padding-left: 20px;
    margin-top: 5px;
    border-right: 1px solid white;
}

.header__nav a{
    color: white;
    font-family: 'Merriweather Sans', sans-serif;
    text-align: center;
    font-size: 14px;
}

/* ---section Main -----*/

.main{
    padding-top: 10vh;
    background-image: url("../img/pattern.png");
    background-position: center center;
    background-repeat: no-repeat;
    height: 90vh;

}
.header__text{
    text-align: center;
    text-transform: uppercase;
    padding-top: 20px;
    font-weight: 600;
}
.header__prof{
    color: red;
}
.my_photo{
    width: 60%;
    margin-right: 3rem;
}
.hello{
    margin-top: 2rem;
}

p.name{
    width: 400px;
}
.owner_data{
    margin-top: 20px;
}
.name {
    margin-bottom: 0;
}
.modalDialog{
    position: fixed;
    top:0;
    right: 0;
    left: 0;
    bottom: 0;
    background: rgba(0,0,0,0.8);
    z-index: 99999;
    -webkit-transition: opacity 400ms ease-in;
    -moz-transition: opacity 400ms ease-in;
    transition: opacity 400ms ease-in;
    display: none;
    pointer-events: none;
}
.modalDialog:target {
    display: block;
    pointer-events: auto;

}
.modalDialog > div {
    width: 800px;
    position: relative;
    margin: 10% auto;
    padding: 5px 20px 13px 20px;
    border-radius: 10px;
    background: #fff;
    background: -moz-linear-gradient(#fff, #999);
    background: -webkit-linear-gradient(#fff, #999);
    background: -o-linear-gradient(#fff, #999);
}
.close {
    background: #606061;
    color: #FFFFFF;
    line-height: 25px;
    position: absolute;
    right: -12px;
    text-align: center;
    top: -10px;
    width: 24px;
    text-decoration: none;
    font-weight: bold;
    -webkit-border-radius: 12px;
    -moz-border-radius: 12px;
     border-radius: 12px;
    -moz-box-shadow: 1px 1px 3px #000;
    -webkit-box-shadow: 1px 1px 3px #000;
     box-shadow: 1px 1px 3px #000;
}
.close:hover { background: #00d9ff; }


 /* section = 'skills" */

.inter_skills{
    padding-top: 50px;
    padding-bottom: 50px;
}
.skills__list ul{
    list-style-type: circle;
}

.skills__title{
    text-align: center;
    font-weight: 700;
    padding-top: 2rem;
}
ul.skills__list{
    padding: 0;
}
.interests li, .skills li{
    font-size: calc(0.5rem + 0.41vw);

}

/*Projects */

.projects__title{
    text-align: center;
    padding-top: 1.5rem;
    margin-bottom: 2rem;
    font-weight: bold;
}
.proj{
    display: block;
    width: 80%;
    margin: 0 auto;
}

.proj-range{
    padding-top: 2rem;
    padding-bottom: 2rem;
}

/* Footer */

.footer{
    height: 2rem;
    background-color: black;
    position: relative;
}

.contacts__social_telegram{
    position: absolute;
    top: -0.5rem;
    right: 20vw;
}
.contacts__social_git{
    position: absolute;
    top: -0.5rem;
    right: 17vw;
}
.contacts__title{
    text-align: center;
    padding: 3.5rem 0 2.5rem;
}
.contacts__icon span{
    font-size: 1.5em;
    margin-right: 15px;
    margin-left: 100px;
}
.contacts__text p{
    padding-top: 6px;
    letter-spacing: 0.3em;
}
.contacts__social i{
    font-size: 35px;
    color: red;
    margin-right: 20px;
}
.dog{
    color: red;
}
.contacts-wrapper{
    margin-bottom: 9rem;
}


/* ----- Contact Form ----- */

.contactForm{
    margin: 0;
    display: flex;
    justify-content: center;
    align-items: center;
    height: 100vh;
}
#MSG{
    height: 15vh;
    margin-bottom: 3vh;
    resize: none;
}

input[type="text"]::-webkit-input-placeholder {
    font-style: italic;
    color: #b7b7b7;
    font-size: calc(0.8rem + 0.1vh);
}

input[type="text"]:-ms-input-placeholder {
    font-style: italic;
    color: #b7b7b7;
    font-size: calc(0.8rem + 0.1vh);
}
input[type="text"]::-ms-input-placeholder {
    font-style: italic;
    color: #b7b7b7;
    font-size: calc(0.8rem + 0.1vh);
}
input[type="text"]::placeholder {
    font-style: italic;
    color: #b7b7b7;
    font-size: calc(0.8rem + 0.1vh);
}

input[type="email"]::-webkit-input-placeholder {
    font-style: italic;
    color: #b7b7b7;
    font-size: calc(0.8rem + 0.1vh);
}

input[type="email"]:-ms-input-placeholder {
    font-style: italic;
    color: #b7b7b7;
    font-size: calc(0.8rem + 0.1vh);
}
input[type="email"]::-ms-input-placeholder {
    font-style: italic;
    color: #b7b7b7;
    font-size: calc(0.8rem + 0.1vh);
}
input[type="email"]::placeholder {
    font-style: italic;
    color: #b7b7b7;
    font-size: calc(0.8rem + 0.1vh);
}


textarea[type="text"]::-webkit-input-placeholder {
    font-style: italic;
    color: #b7b7b7;
    font-size: calc(0.8rem + 0.1vh);
}

textarea[type="text"]:-ms-input-placeholder {
    font-style: italic;
    color: #b7b7b7;
    font-size: calc(0.8rem + 0.1vh);
}

textarea[type="text"]::-ms-input-placeholder {
    font-style: italic;
    color: #b7b7b7;
    font-size: calc(0.8rem + 0.1vh);
}

textarea[type="text"]::placeholder {
    font-style: italic;
    color: #b7b7b7;
    font-size: calc(0.8rem + 0.1vh);
}







/* @Media */

@media screen and (max-width: 1200px){

   .owner_data {
       margin-left: 50px;
   }
    .contacts__icon span{
        margin-left: 30px;
    }
}


@media screen and (max-width: 992px){

    .my_photo{
        position: relative;
        top: -40px;
        left: 0;
        width: 100%;
    }
    .interests li, .skills li {
        font-size: 1em;
    }
    .skills__title{
        padding-top: 50px;

        font-size: 24px;
    }
    ul .interests{
        margin-right: 80px;

    }
    .inter_skills{
        justify-content: start;
    }

    li.header__nav a{
        font-size: 12px;
    }
    .contacts__title{
        padding-top: 50px;
    }
}

@media screen and (max-width: 768px){

    .header__text{
        font-size: 13px;
    }
    .interests li, .skills li {
        font-size: 1em;
    }

    .contacts__icon span{
        margin-left: 0;
    }
    li .header__nav{
        margin-right: 20px;
    }
    .header__up{
        height: 50px;
    }
    li.header__nav{
        text-align: center;
    }
    .contacts__icon span{
        display: none;
    }

}
@media screen and (max-width: 576px){

    .contacts__text p{
        letter-spacing: 0;
        margin-left: 20px;
    }
    .contacts__icon span{
        display: none;
    }
}
@media screen and (min-width: 320px) and (max-width: 501px) {
    .contacts__text p{
        letter-spacing: 0;
        margin-left: 0;
    }
    .owner_data{
        margin-left: 0;
    }
    .my_photo {
        position: absolute;
        top: -40px;
        left: 20px;
    }
    .header__up{
        height: auto;
    }
   ul .header__nav{
       flex-wrap: wrap;
   }
    li.header__nav{
       border-right: none;
    }
    .contacts__title {
        font-size: 16px;
    }
}























